*{
  margin: 0;
  padding: 0;
}

:root{
  --back-color:rgb(214, 214, 214);
  --font-color:rgb(233, 96, 96);
  --second-color:rgb(135, 136, 224);
  --third-color:rgb(92, 99, 93);
}


body{
  /* background-color: rgb(241, 223, 226); */
  background-color: var(--back-color);
  color: var(--font-color);
}

header, footer{
  background-color: antiquewhite;
}

main{
  height: 100svh;
  background-color: rgb(233, 206, 186);
}